* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
  position: relative;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}
#logo {
  width: 100px;
}
.container ul {
  display: flex;
  gap: 2rem;
}

.container ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
#bg {
    position: relative;
    width: 100%;
    top: -400px;
}


#mario {
  width: 50px;
  position: absolute;
  left: 50%;
  bottom: 0;
}

